.below {
  background: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.app-store-btn {
  height: 56px;
  Width: 156px;
  background-color: #28514F;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-family: sans-serif;
  color: white;
  cursor: pointer;
}

.applelogo {
  background-image: url(Png/AppleLogo.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 21px;
  margin: 5%;
}

.Play-store-btn {
  height: 56px;
  Width: 156px;
  background-color: #AEB4B6;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-family: sans-serif;
  cursor: pointer;
}

.playlogo {
  background-image: url(./Png/PlayStoreLogo.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 22px;
  margin: 5%;
}

.below-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.Stay-one-step-yellow-wrapper {
  background-color: #F8E6BE;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15%;
  padding-right: 5%;
}

.yellow-wrapper-text {
  Width: 350px;
font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
line-height: 47px;
color: #333333;
margin-right: 3%;
}

.phone-img{
  background-image: url(./Png/HurricanesPhoneImg.png);
  background-repeat: no-repeat;
  height: 348px;
  width: 419px;
}
.hurricanes-phone-img {
margin-bottom: -0.5%;
}

/* ------------------below h1 p text----------------- */

.below-h1-p-text {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.below-h1-p-text h1 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #28514F;
    margin: 2%;
    
    }

.below-h1-p-text p {
  font-family: sans-serif;
  width: 620px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  color: #65727B;
  margin-bottom: 3%;
  margin-top: 5%;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2%;
}
.search-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  display: flex;
  align-items: center;
  justify-content: left;
padding-left: 8%;
  width: 276px;
height: 60px;
background: #FFFFFF;
box-shadow: 0px 4px 0px rgba(167, 167, 167, 0.16);
border-radius: 40px 0px 0px 40px;
border: none;
}
.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:  0 2%;
  width: 110px;
  height: 60px;
  background: #28514F;
  box-shadow: 0px 4px 0px rgba(167, 167, 167, 0.16);
  border-radius: 0px 40px 40px 0px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: sans-serif;
}

.righticon {
  background-image: url(./Png/RightIcon.png);
  background-repeat: no-repeat;
  height: 15px;
  width: 10px;
  margin: 8%  ;
}

.data-privacy p{
  font-family: sans-serif;
  font-style: normal;
  line-height: 32px;
  text-align: center;
  color: #65727B;
}

.sign-up:hover{
  border: 2px solid rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}
.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
}
.end-line {
  width: 90%;
  border-top: 3px solid rgba(165, 155, 134, 0.2);;
}


/* ---------------------end bar------------------- */

.end-bar {
  border: 0px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5%;
}

.harborlogo {
  background-image: url(./Png/HarborLogo.png);
  background-repeat: no-repeat;
  height: 35px;
  width: 153px;
  cursor: pointer;
}

.logo-down-text p {
  font-family: sans-serif;
  font-style: normal;
  line-height: 32px;
  text-align: left;
  color: #65727B;
  margin-bottom: 3%;
}

.logo-end-text{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 5%;
}

.harborlogo:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.5));
}

.link-text {
  border: 0px solid green;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
  color: #28514F;
}

.link-text p:hover {
  color: blue;
}

.end-bar-center {
  border: 0px solid red;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.end-bar-center p {
  cursor: pointer;
  font-family: sans-serif;
  color: #65727B;
}

.end-bar-center p:hover {
  text-decoration: underline;
  color: #28514F;
}

.end-bar-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.end-bar-right div:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: drop-shadow( 0.5px 1px 0.2px rgba(0, 0, 0, 0.5));
}

.logo-size {
  background-repeat: no-repeat;
  height: 21px;
  width: 20px;
}

.twiter {
  background-image: url(./Png/TwiterGreenLogoIcon.png);
}

.insta {
  background-image: url(./Png/InstagramGreenLogoIcon.png);
}

.feacbook {
  background-image: url(./Png/FeacbookGreenLogoIcon.png);
}
