.Were-ready-are-you {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.Were-ready-are-you h1 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #28514F;
  margin: 2%;
  margin-top: 10%;
  }
  
  .Were-ready-are-you  p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  color: #65727B;
  margin-bottom: 3%;
  }


/* -----------------------comments cards------------------- */

.comment-cards {
  border: 0px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.cards-center{
  border: 0px solid red;
  display: flex;
  align-items: center;
  margin-bottom: 10%;
}

.comment-cards-wrapper {
  height: 230px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-in-text-center {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 10px 20px;
  
}

.cards-p-text {
  width: 218px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #1B1F2B;
  margin-bottom: 5%;
}

.starsicon {
  background-image: url(./Png/StarsIcon.png);
  background-repeat: no-repeat;
  height: 23px;
  width: 131px;
}

.apple-green-logo {
  background-image: url(./Png/AppleGreenLogo.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.stars-margin {
  margin: 3% 0;
}

.comment-cards-center {
  margin: 2%;
}

.comment-logo-name-soft {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 3%;
}

.comment-logo-name-soft p {
  padding-left: 15px;
}